<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="form-group col-sm-12">
      <label for="nome">Nome</label>
      <input id="nome" class="form-control" type="email"
        formControlName="nome"
        [ngClass]="aplicarCSSErro('nome')">
      <!-- outra forma de realizar a validação dos campos de formulário é acessando a propriedade
      de dentro do componente e suas ramificações, ou componentes internos -->
      <app-campo-control-erro [mostrarErro]="!formulario.controls['nome'].valid && (formulario.controls['nome'].touched || formulario.controls['nome'].dirty)"
        mensagem="Nome obrigatório">
      </app-campo-control-erro>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-sm-12">
      <label for="email">E-mail</label>
      <input id="email" class="form-control" type="email"
        formControlName="email"
        placeholder="nome@email.com"
        [ngClass]="aplicarCSSErro('email')">
        <app-campo-control-erro [mostrarErro]="fieldInvalidAndTouched('email')"
          mensagem="E-mail obrigatório">
        </app-campo-control-erro>
        <app-campo-control-erro [mostrarErro]="verificarEmailInvalido()"
          mensagem="E-mail inválido">
        </app-campo-control-erro>
    </div>
  </div>

  <!-- Para acessar, a partir do template, campos do formulário que são
    aninhados - como os campos abaixo de endereço - basta usar o operador ponto -->
  <div formGroupName="endereco">
    <div class="form-row">
      <div class="form-group col-sm-3">
        <label for="cep">CEP</label>
        <input id="cep" class="form-control" type="text"
          formControlName="cep"
          [ngClass]="aplicarCSSErro('endereco.cep')"
          (blur)="consultarCEP()">
        <app-campo-control-erro [mostrarErro]="(formulario.get('endereco.cep')?.invalid || false) && formulario.get('endereco.cep')?.touched || false"
          mensagem="Cep obrigatório">
        </app-campo-control-erro>
      </div>
      <div class="form-group col-sm-3">
        <label for="numero">Número</label>
        <input id="numero" class="form-control" type="text"
          formControlName="numero"
          [ngClass]="aplicarCSSErro('endereco.numero')">
        <app-campo-control-erro [mostrarErro]="fieldInvalidAndTouched('endereco.numero')"
          mensagem="Número obrigatório">
        </app-campo-control-erro>
      </div>
      <div class="form-group col-sm-6">
        <label for="complemento">Complemento</label>
        <input id="complemento" class="form-control" type="text"
          formControlName="complemento"
          [ngClass]="aplicarCSSErro('endereco.complemento')">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-sm-12">
        <label for="rua">Rua</label>
        <input id="rua" class="form-control" type="text"
          formControlName="rua"
          [ngClass]="aplicarCSSErro('endereco.rua')" readonly>
        <app-campo-control-erro [mostrarErro]="fieldInvalidAndTouched('endereco.rua')"
          mensagem="Rua obrigatório">
        </app-campo-control-erro>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-sm-5">
        <label for="bairro">Bairro</label>
        <input id="bairro" class="form-control" type="text" name="bairro"
          formControlName="bairro"
          [ngClass]="aplicarCSSErro('endereco.bairro')">
        <app-campo-control-erro [mostrarErro]="fieldInvalidAndTouched('endereco.bairro')"
          mensagem="Bairro obrigatório">
        </app-campo-control-erro>
      </div>
      <div class="form-group col-sm-4">
        <label for="cidade">Cidade</label>
        <input id="cidade" class="form-control" type="text"
          formControlName="cidade"
          [ngClass]="aplicarCSSErro('endereco.cidade')">
        <app-campo-control-erro [mostrarErro]="fieldInvalidAndTouched('endereco.cidade')"
          mensagem="Cidade obrigatório">
        </app-campo-control-erro>
      </div>
      <div class="form-group col-sm-3">
        <label for="estado">Estado</label>
        <select id="estado" class="form-control"
          formControlName="estado"
          [ngClass]="aplicarCSSErro('endereco.estado')">
          <option *ngFor="let estado of estados | async" [value]="estado.sigla">{{ estado.nome }}</option>
        </select>
        <app-campo-control-erro [mostrarErro]="fieldInvalidAndTouched('endereco.estado')"
          mensagem="Estado obrigatório">
        </app-campo-control-erro>
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
  <button class="btn btn-secondary" (click)="resetar()">Cancelar</button>

  <app-form-debug [form]="formulario"></app-form-debug>
</form>
