<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <div class="form-row">
    <div class="form-group col-sm-12">
      <label for="nome">Nome</label>
      <input id="nome" class="form-control" type="email" name="nome"
        [ngModel]="usuario.nome" #nome="ngModel"
        [ngClass]="aplicarCSSErro(nome)"
        required>
      <app-campo-control-erro [mostrarErro]="fieldInvalidAndTouched(nome.control)"
        mensagem="Nome obrigatório">
      </app-campo-control-erro>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-sm-12">
      <label for="email">E-mail</label>
      <input id="email" class="form-control" type="email" name="email"
        placeholder="nome@email.com" [ngModel]="usuario.email" #email="ngModel"
        [ngClass]="aplicarCSSErro(email)"
        required email>
      <app-campo-control-erro [mostrarErro]="fieldInvalidAndTouched(email.control)"
        mensagem="Email obrigatório">
      </app-campo-control-erro>
    </div>
  </div>

  <div ngModelGroup="endereco">
    <div class="form-row">
      <div class="form-group col-sm-3">
        <label for="cep">CEP</label>
        <input id="cep" class="form-control" type="text" name="cep"
          ngModel #cep="ngModel"
          [ngClass]="aplicarCSSErro(cep)"
          required>
        <app-campo-control-erro [mostrarErro]="fieldInvalidAndTouched(cep.control)"
          mensagem="Cep obrigatório">
        </app-campo-control-erro>
      </div>
      <div class="form-group col-sm-3">
        <label for="numero">Número</label>
        <input id="numero" class="form-control" type="text" name="numero"
          ngModel #numero="ngModel"
          [ngClass]="aplicarCSSErro(numero)"
          required>
        <app-campo-control-erro [mostrarErro]="fieldInvalidAndTouched(numero.control)"
          mensagem="Número obrigatório">
        </app-campo-control-erro>
      </div>
      <div class="form-group col-sm-6">
        <label for="complemento">Complemento</label>
        <input id="complemento" class="form-control" type="text" name="complemento"
          ngModel #complemento="ngModel"
          [ngClass]="aplicarCSSErro(complemento)">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-sm-12">
        <label for="rua">Rua</label>
        <input id="rua" class="form-control" type="text" name="rua"
          ngModel #rua="ngModel"
          [ngClass]="aplicarCSSErro(rua)"
          required readonly>
        <app-campo-control-erro [mostrarErro]="fieldInvalidAndTouched(rua.control)"
          mensagem="Rua obrigatório">
        </app-campo-control-erro>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-sm-5">
        <label for="bairro">Bairro</label>
        <input id="bairro" class="form-control" type="text" name="bairro"
          ngModel #bairro="ngModel"
          [ngClass]="aplicarCSSErro(bairro)"
          required>
        <app-campo-control-erro [mostrarErro]="fieldInvalidAndTouched(bairro.control)"
          mensagem="Bairro obrigatório">
        </app-campo-control-erro>
      </div>
      <div class="form-group col-sm-4">
        <label for="cidade">Número</label>
        <input id="cidade" class="form-control" type="text" name="cidade"
          ngModel #cidade="ngModel"
          [ngClass]="aplicarCSSErro(cidade)"
          required>
        <app-campo-control-erro [mostrarErro]="fieldInvalidAndTouched(cidade.control)"
          mensagem="Cidade obrigatório">
        </app-campo-control-erro>
      </div>
      <div class="form-group col-sm-3">
        <label for="estado">Estado</label>
        <input id="estado" class="form-control" type="text" name="estado"
          ngModel #estado="ngModel"
          [ngClass]="aplicarCSSErro(estado)"
          required>
        <app-campo-control-erro [mostrarErro]="fieldInvalidAndTouched(estado.control)"
          mensagem="Estado obrigatório">
        </app-campo-control-erro>
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Submit</button>

  <app-form-debug [form]="f"></app-form-debug>
</form>
